<fieldset>
    <legend>Register Form</legend>
    <div class="row">
        <form [formGroup]="fgValidator" class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field col s3">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="document" formControlName="document" type="text">
                    <label for="document">Document</label>
                    <div class="warning-validator"
                        *ngIf="fgv.document.errors && (fgv.document.dirty || fgv.document.touched)">
                        <strong *ngIf="fgv.document.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.document.errors.minlength">
                            This field must be at least {{documentMinLength}} long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s3">
                    <i class="material-icons prefix">phone</i>
                    <input id="cellphone" formControlName="phone" type="text">
                    <label for="cellphone">Cellphone</label>
                    <div class="warning-validator" *ngIf="fgv.phone.errors && (fgv.phone.dirty || fgv.phone.touched)">
                        <strong *ngIf="fgv.phone.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.phone.errors.minlength">
                            This field must be at least 10 long.
                        </strong>
                        <strong *ngIf="fgv.phone.errors.maxlength">
                            This field must be maximum 14 long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" formControlName="email" type="text">
                    <label for="email">Email</label>
                    <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                        <strong *ngIf="fgv.email.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.email.errors.email">
                            This field must be a correct email format.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" formControlName="name" type="text">
                    <label for="first_name">First Name</label>
                    <div class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
                        <strong *ngIf="fgv.name.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.name.errors.minlength">
                            This field must be at least 2 characters long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="last_name" formControlName="lastname" type="text">
                    <label for="last_name">Last Name</label>
                    <div class="warning-validator" *ngIf="fgv.lastname.errors && (fgv.lastname.dirty || fgv.lastname.touched)">
                        <strong *ngIf="fgv.lastname.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.lastname.errors.minlength">
                            This field must be at least 2 characters long.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">map</i>
                    <input id="city" formControlName="city" type="text">
                    <label for="city">City</label>
                    <div class="warning-validator" *ngIf="fgv.city.errors && (fgv.city.dirty || fgv.city.touched)">
                        <strong *ngIf="fgv.city.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.city.errors.minlength">
                            This field must be at least 3 characters long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s8">
                    <i class="material-icons prefix">add_location</i>
                    <input id="address" formControlName="address" type="text">
                    <label for="address">Address</label>
                    <div class="warning-validator" *ngIf="fgv.address.errors && (fgv.address.dirty || fgv.address.touched)">
                        <strong *ngIf="fgv.address.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.address.errors.minlength">
                            This field must be at least 5 characters long.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                    <button (click)="CustomerRegisterFn()" class="btn btn-large btn-register waves-effect waves-light"
                        type="button" name="action">Register
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</fieldset>